name: Validation Email (Gmail)

on:
  workflow_dispatch:

name: Validation Email (Gmail)

on:
  workflow_dispatch:
    inputs:
      subject:
        description: "Sujet"
        required: false

  # (facultatif) écoute d’un événement générique
  repository_dispatch:
    types: [send-email]

jobs:
  send-mail:
    runs-on: ubuntu-latest
    steps:
      - name: Send notification email via Gmail SMTP
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SMTP_SERVER }}
          server_port: ${{ secrets.SMTP_PORT }}
          # secure: true
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          from: ${{ secrets.SMTP_USERNAME }}
          # Priorité aux inputs → fallback sur secret
          to: ${{ secrets.SMTP_USERNAME }}
          subject: "Provisioning d'un serveur RHEL en ${{ github.event.inputs.subject }}"
          body: ${{ github.event.inputs.body || 'Déclenché par API (workflow_dispatch).' }}


